@font-face {
  font-family: 'Arial MT Bold';
  src: url(dir/font/arialroundedmtbold.ttf);
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Arial MT Bold';
}
body{
  background: linear-gradient(to right, #FFEFEF, #5CBA71 );
}

.navbar{
 margin-top: 2rem;
}

.navbar-nav {
  font-size: 1.2rem;
  flex-direction: row; 
  display: flex;
  gap: 4rem;
  margin-left: auto;
}

.connect {
  display: inline-block;
  background-color: #8EFEA2;
  border-radius: 0.7rem;
  padding: 0.5rem;
  min-width: 120px;
  text-align: center;
  font-weight: 700;
  box-shadow: 7px 5px 4px rgba(0, 0, 0, 0.25);    
}
