@font-face {
  font-family: 'Arial MT Bold';
  src: url(dir/font/arialroundedmtbold.ttf);
}

@font-face {
  font-family: 'Arial MT';
  src: url(dir/font/Arial\ Rounded\ MT\ Regular.ttf);
}

@font-face {
  font-family: 'Kick';
  src: url(dir/font/kick-font.ttf) format('truetype');
}


html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Arial MT Regular';

}

body {
  background: linear-gradient(-45deg, #efefef, #5CBA71, #E8F5EC, #5CBA71);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
  overflow-x: hidden;
  min-height: 100vh;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.split-wrapper {
  position: fixed;
  inset: 0;
  z-index: 9999;
  pointer-events: none;
}

.split {
  position: absolute;
  top: 0;
  width: 50vw;
  height: 100vh;
  background: #67d27e;
}

.split.left {
  left: 0;
}

.split.right {
  right: 0;
}


.navbar {
  margin-top: 2rem;
  font-family: 'Arial MT Bold';
}

.navbar-nav {
  font-size: 1.2rem;
  flex-direction: row;
  display: flex;
  gap: 4rem;
  margin-left: auto;
}

.navbar-nav .nav-link {
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: white;
  text-decoration: none;
}


.grnbtn {
  display: inline-block;
  background-color: #8EFEA2;
  border-radius: 0.7rem;
  padding: 0.5rem;
  min-width: 120px;
  text-align: center;
  font-weight: 700;
  box-shadow: 7px 5px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Arial MT Bold';
}

.grnbtn:hover {
  transform: scale(1.05);
  box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.2);
  background-color: #28a745;
  color: white;
}

.text-block {
  max-width: 420px;
  text-align: justify;
}

.content a {
  text-decoration: none;
  color: inherit;
}


.col-md-6 {
  margin-top: 5rem;
}

.col-md-6 a {
  display: block;
}

.name,
.alias {
  font-family: 'Kick';
  color: #42794D !important;
}

.name {
  font-size: 3rem;
}

.alias {
  font-size: 1.5rem;
}

.tagline {
  font-size: 1.3rem;
  ;
}

.tagline2 {
  font-family: 'Arial MT Bold';
  font-size: 1rem;
  ;
}

.float-wrapper {
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0);
  }
}

.profile {
  transition: transform 0.7s cubic-bezier(0.22, 1, 0.36, 1);
}

.profile:hover {
  transform: scale(1.03);
}

.card-img-top {
  height: 220px;
  object-fit: cover;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.modal-content {
  background-color: #0e350b;
}

.portfolio {
  margin-top: 400px;
}


@media (max-width: 768px) {
  .col-md-6 {
    margin-top: 3rem;
  }

  .profile {
    margin-top: 4rem;
  }
}