/* PARALLAX.CSS */
/*CSS created by Christopher Jay De Claro*/
/*github.com/cjdeclaro*/

/*Key Art default settings*/

.keyart,
.keyart_layer {
	height: 1000px;
}

.keyart {
	position: relative;
	z-index: 10;
}

.keyart_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}

.keyart_layer.parallax {
	position: fixed;
}

.main-content {
	width: 100%;
	position: absolute;
	z-index: 200;
}

.parallax:hover {
	transform: scale(1.1); /* Slight zoom-in effect on hover */
	filter: brightness(1.2); /* Increase brightness on hover */
  }

/*ADD OR REMOVE LAYERS AS NEEDED*/

#keyart-0 {
	background-image: url(img/bg.png);
}

#keyart-1 {
	background-image: url(img/title.png);
}

#keyart-2 {
	background-image: url(img/title20.png);
}


#keyart-3 {
	background-image: url(img/title40.png);
}

#keyart-4 {
	background-image: url(img/title70.png);
}

#keyart-scrim {
	opacity: 0;
}

